---
import Layout from "../layouts/Layout.astro";
---

<Layout title="A (Gentler) Introduction">
    <div class="grid place-content-center w-full h-screen bg-red-800 text-white">
        <h1 class="text-8xl font-light text-white mb-8">A (GENTLER) <br /> INTRODUCTION <br /> TO <br /> MECHANICS</h1>
        <h2 class="text-4xl font-light mb-16">A Side Reader by Sebastian Branch</h2>
        <a class="bg-red-900 text-2xl py-4 px-8 max-w-max rounded hover:border" href="/gentler/00_introduction/01_introduction">Let's start!</a>
    </div>
</Layout>

